.background {
  /* background: red; */ /* DEV */
  display: flex;
  position: absolute;
  right: 0px;
  flex-direction: row;
  z-index: 4;
  margin-right: 16px;
  margin-top: 30.5px;
  height: 39px !important;
  width: 39px !important;
}

.buttonIn {
  display: flex;
  padding: 6px 6px !important;
  background: white !important;
  align-items: flex-start;
  text-transform: none !important;
  color: #3c4043 !important;
  letter-spacing: 0.25px;
  font-family: "Google Sans", arial, sans-serif;
  font-weight: 500;
  height: 39px !important;
  min-width: 0px !important;
  width: 39px !important;
  /* max-width: calc(100vw - 60.5px) !important; */
}

/* BREAKPOINTS */
/* MIN <    MED    > LAR */
/* 424 < 425 ~ 825 > 826 */

/* MINPORT */
@media screen and (orientation: portrait) and (max-width: 424px) {
  .background {
    left: 8px;
    margin-top: 98px;
    /* left: 50px;
    margin-top: 150px; */
  }
}

/* LESS THAN 800px */
@media screen and (max-width: 800px) {
  .background {
    /* margin-right: 8px;
    margin-top: 98px; */
    left: 8px;
    margin-top: 98px;
  }
}

/* MORE THAN 800px */
@media screen and (min-width: 801px) {
  .background {
    position: fixed !important;
    left: 8px !important;
    bottom: 8px !important;
    visibility: visible !important
  }
}