
.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.swal2-container {
  z-index: 10000 !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.swal2-select {
  width: 80px !important;
  max-width: 80px !important;
  min-width: 0px !important;
  justify-self: center;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-left: 22px !important;
}

/* .testCSS {
  display: flex;
  background: red;
} */

/* SMALL DEVICES -> WIDTH MIN THAN 300 (GAME WIDTH) */
@media screen
and (orientation: portrait)
and (max-device-width: 300px),
screen
and (orientation: landscape)
and (max-device-height: 300px) {
  .swal2-title { font-size: 27px }
  .swal2-html-container { font-size: 17px !important }
}

/* SMALL DEVICES -> WIDTH MIN THAN 450 */
@media screen
and (orientation: portrait)
and (max-device-width: 450px) {
  .columnPopUp { flex-direction: column }
}