.background {
  background: lightblue; /* DEV */
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  min-height: 590px;
}

.nextGameIn {
  display: flex;
  position: absolute;
  background: orange; /* DEV */
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 4px;
  bottom: -67px;
  left: -20px;
  justify-content: center;
}

.nextGameInInner {
  width: 200px;
  /* background: red; */ /* DEV */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nextGameText {
  width: 178px;
  /* background: orange; */ /* DEV */
}

.nextGameNumber {
  width: 22px;
  /* background: orange; */ /* DEV */
}

.button {
  margin-bottom: 10px !important;
  /* animation-name: none;
  animation-duration: 0s;
  animation-iteration-count: none; */
  
  /* animation-name: shakeLTR;
  animation-duration: .2s;
  animation-iteration-count: infinite; */
}

.noAnimation {
  animation-name: onone;
  animation-duration: 0s;
  animation-iteration-count: none;
}

/* #buttonStart {
  animation-name: shake;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
} */

.shakeAnimation {
  animation-name: shake;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(-2px, 0px) }
  2% { transform: translate(0px, 0px) }
  4% { transform: translate(-2px, 0px) }
  6% { transform: translate(0px, 0px) }
  8% { transform: translate(-2px, 0px) }
  10% { transform: translate(0px, 0px) }
  12% { transform: translate(-2px, 0px) }
  14% { transform: translate(0px, 0px) }
  16% { transform: translate(-2px, 0px) }
  18% { transform: translate(0px, 0px) }
  20% { transform: translate(-2px, 0px) }
  22% { transform: translate(0px, 0px) }
  100% { transform: translate(0px, 0px) }
}

.changeColor {
  animation-name: changeCol;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes changeCol {
  0% { color: red; transform: scale(1.0) }
  24.99% { color: red; transform: scale(1.0) }
  25% { color: green; transform: scale(1.1)}
  49.99% { color: green; transform: scale(1.1)}
  50% { color: darkviolet; transform: scale(1.0) }
  74.99% { color: darkviolet; transform: scale(1.0) }
  75% { color: blue; transform: scale(1.1) }
  100% { color: blue; transform: scale(1.1) }
}
    

.rounds {
  /* background: lightgreen; */ /* DEV */
  display: flex;
  position: absolute;
  width: 110px;
  height: 50px;
  line-height: 50px;
  /* right: 10px; */
  top: -54px;
  left: 32px;
  font-size: 16px;
  align-items: baseline;
  font-weight: 500;
  justify-content: center;
  /* transform: scale(3.05); */
  /* transform: scale(3.00) */
}

.timer {
  /* background: lightgreen; */ /* DEV */
  display: flex;
  position: absolute;
  width: 150px;
  height: 50px;
  line-height: 50px;
  /* right: 10px; */
  top: -54px;
  right: 1px;
  font-size: 16px;
  align-items: baseline;
  font-weight: 500;
  justify-content: center;
  /* transform: scale(3.05); */
  /* transform: scale(3.00) */
}

.eachTime {
  display: flex;
  /* box-shadow: 0 0 0 2px blue inset; */ /* DEV */
  width: 19px;
  justify-content: center;
}

.eachTimeMini {
  display: flex;
  /* box-shadow: 0 0 0 2px blue inset; */ /* DEV */
  width: 23px;
  justify-content: center;
}

.smallerMili {
  font-size: 12px;
}

.participants {
  /* margin-left: 70px; */
  display: flex;
  position: relative;
  display: flex;
  /* width: 440px; */ /* TEST */
  width: 350px;
  height: 200px;
  flex-direction: column;
  font-size: 40px;
  /* box-shadow: 0 0 0 2px blue inset; */
  /* border: 2px solid blue; */
  /* background: gray; */ /* DEV */
  border-top: 2px solid blue;
}

.participant {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background: orange; /* DEV */
  /* box-shadow: 0 0 0 2px blue inset; */
  justify-content: flex-end;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  /* border-bottom: 2px solid blue; */
  /* line-height: 50px; */
}

.turn {
  background: lightgreen; /* DEV */
  /* width: 180px; */
  width: 60px;
  color: red;
  font-size: 20px;
  animation: blink 1s linear infinite;
  text-align: end;
}

.participantName {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 80px;
  background: orange; /* DEV */
  /* box-shadow: 0 0 0 2px blue inset; */
  justify-content: center;
  line-height: 50px;
}

.pointsTitle {
  width: 440px;
  height: 50px;
  font-size: 32px;
  text-align: center;
  padding-top: 4px;
}

.points {
  /* background: lightgreen; */ /* DEV */
  width: 180px;
  height: 50px;
  /* box-shadow: 0 0 0 2px blue inset; */
}

.innerPoints {
  background: lightgreen; /* DEV */
 /*  width: 180px;
  height: 50px; */
  height: 50px;
  /* box-shadow: 0 0 0 2px blue inset; */
  width: fit-content;
  line-height: 50px;
}



.finalWinner {
  display: flex;
  /* width: 250px; */
  height: 50px;
  /* line-height: 40px; */
  flex-direction: column;
  font-size: 24px;
  background: lightpink; /* DEV */
  justify-content: center;
  align-items: center;
  font-weight: 500;
  /* margin-left: -70px; */
  padding-bottom: 2px;
}




@keyframes blink {
  0% { opacity: 0 };
  100% { opacity: 1 }
}

.rowsAndColumns {
  display: flex;
  position: relative;
  background: gray;
  width: 150px;
  height: 150px;
  flex-wrap: wrap;
  /* box-shadow: 0 0 0 2px blue inset; */
  border: 2px solid blue;


}

.crossCircle {
  background: lightcoral; /* DEV */
  display: flex;
  position: relative;
  flex-direction: row;
  width: 600px;
  height: 60px;
}

.cross {
  background: red; /* DEV */
  display: flex;
  position: relative;
  flex-direction: row;
  width: 30px;
  height: 30px;
}

.circle {
  background: blue; /* DEV */
  display: flex;
  position: relative;
  flex-direction: row;
  width: 30px;
  height: 30px;
}



.eachRow {
  background: gray;
  display: flex;
  position: relative;
  flex-direction: row;
  width: 600px;
  height: 60px;
  
}

.eachBox {
  display: flex;
  position: relative;
  background: red; /* DEV */
  width: 50px;
  height: 50px;
  box-shadow: 0 0 0 2px blue inset;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
}

.scoreTable {
  display: flex;
  position: absolute;
  right: -415px; /* DEFAULT RENDER */
  flex-direction: column;
  background: darkorange;
  /*                #    T    S    Y    A    S    T    B  */
  width: 415px;  /* 25 + 80 + 60 + 40 + 40 + 60 + 80 + 30 */
  height: 550px; /* 25 * 22 (550 MAX) */
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between;
}

.scoreTableNumeral {
  box-shadow: 0 0 0 2px blue inset;
  width: 25px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  
}

.scoreTableTotal {
  box-shadow: 0 0 0 2px blue inset;
  width: 80px;
  height: 25px;
  line-height: 24px;
  text-align: center;
}

.scoreTableYou {
  box-shadow: 0 0 0 2px blue inset;
  width: 40px;
  height: 25px;
  line-height: 24px;
  text-align: center;
}

.scoreTableAI {
  box-shadow: 0 0 0 2px blue inset;
  width: 40px;
  height: 25px;
  line-height: 24px;
  text-align: center;
}

.scoreTableScore {
  box-shadow: 0 0 0 2px blue inset;
  width: 60px;
  height: 25px;
  line-height: 24px;
  text-align: center;
}

.scoreTableTime {
  box-shadow: 0 0 0 2px blue inset;
  width: 80px;
  height: 25px;
  line-height: 24px;
  text-align: center;
}

.scoreTableTitlesContainer {
  display: flex;
  flex-direction: row;
}

.scoreTableTitlesContainerLower {
  background: red; /* DEV */
  display: flex;
  position: relative;
  flex-direction: row;
}

.scoreTableEachScore {
  background: gray; /* DEV */
  /* width: 225px; */
  height: 25px;
  display: flex;
  position: relative;
}

#button {
  right: 0px; /* DEFAULT RENDER */
  display: flex;
  position: fixed;
  z-index: 3001;
  min-width: 30px !important;
  width: 30px !important;
  min-height: 120px !important;
  height: 120px !important;
  color: darkblue;
  border-radius: 0px;
  /* background: lightblue; */ /* DEV */
  background: violet;
}

.buttonTypo {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  transform: rotate(270deg);
  height: 30px;
  white-space: nowrap
}


