.background {
  /* background: lightblue; */
  background: gray; /* DEV */
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  min-height: 450px;
}

.nextGameIn {
  display: flex;
  position: absolute;
  background: orange;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 4px;
  bottom: -67px;
  left: -20px;
  justify-content: center;
}

.nextGameInInner {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nextGameText {
  width: 178px;
  /* background: orange; */ /* DEV */
}

.nextGameNumber {
  width: 22px;
  /* background: orange; */ /* DEV */
}

.buttonNewGame {
  margin-bottom: 10px !important;
  width: 110px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.shakeAnimation {
  animation-name: shake;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(-2px, 0px) }
  2% { transform: translate(0px, 0px) }
  4% { transform: translate(-2px, 0px) }
  6% { transform: translate(0px, 0px) }
  8% { transform: translate(-2px, 0px) }
  10% { transform: translate(0px, 0px) }
  12% { transform: translate(-2px, 0px) }
  14% { transform: translate(0px, 0px) }
  16% { transform: translate(-2px, 0px) }
  18% { transform: translate(0px, 0px) }
  20% { transform: translate(-2px, 0px) }
  22% { transform: translate(0px, 0px) }
  100% { transform: translate(0px, 0px) }
}

.changeColor {
  animation-name: changeCol;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes changeCol {
  0% { color: red; transform: scale(1.0) }
  24.99% { color: red; transform: scale(1.0) }
  25% { color: green; transform: scale(1.1)}
  49.99% { color: green; transform: scale(1.1)}
  50% { color: darkviolet; transform: scale(1.0) }
  74.99% { color: darkviolet; transform: scale(1.0) }
  75% { color: blue; transform: scale(1.1) }
  100% { color: blue; transform: scale(1.1) }
}

.rounds {
  /* background: lightgreen; */ /* DEV */
  display: flex;
  position: absolute;
  width: 120px;
  height: 50px;
  line-height: 50px;
  top: -54px;
  left: 0px;
  font-size: 16px;
  align-items: baseline;
  font-weight: 500;
  justify-content: center;
}

.timer {
  /* background: lightgreen; */ /* DEV */
  display: flex;
  position: absolute;
  width: 120px;
  height: 50px;
  top: -54px;
  right: 0px;
  font-size: 16px;
  align-items: baseline;
  font-weight: 500;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.timeContainer {
  height: 15px;
  line-height: 15px;
}

.numbersContainer {
  display: flex;
  position: relative;
  height: 15px;
  line-height: 15px;
  flex-direction: row;
  align-items: baseline;
}

.eachTime {
  display: flex;
  /* box-shadow: 0 0 0 2px blue inset; */ /* DEV */
  width: 19px;
  height: 25px;
  justify-content: center;
}

.eachTimeMini {
  display: flex;
  /* box-shadow: 0 0 0 2px blue inset; */ /* DEV */
  width: 23px;
  justify-content: center;
}

.smallerMili {
  font-size: 12px;
}

.participants {
  display: flex;
  position: relative;
  display: flex;
  width: 100vw;
  max-width: 370px;
  height: 200px;
  flex-direction: column;
  font-size: 40px;
  /* box-shadow: 0 0 0 2px blue inset; */ /* DEV */
  /* background: gray; */ /* DEV */
  border-top: 2px solid blue;
}

.participant {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background: orange; /* DEV */
  /* box-shadow: 0 0 0 2px blue inset; */ /* DEV */
  justify-content: flex-end;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
}

.turn {
  background: lightgreen;
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  color: red;
  font-size: 20px;
  animation: blink 1s linear infinite;
  text-align: end;
}

.participantName {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  background: orange;
  /* box-shadow: 0 0 0 2px blue inset; */ /* DEV */
  justify-content: center;
  line-height: 50px;
}

.pointsTitle {
  width: 346px;
  height: 50px;
  font-size: 32px;
  text-align: center;
  padding-top: 4px;
}

.points {
  /* background: lightgreen; */ /* DEV */
  width: 180px;
  height: 50px;
}

.innerPoints {
  background: lightgreen;
  height: 50px;
  /* box-shadow: 0 0 0 2px blue inset; */ /* DEV */
  width: fit-content;
  line-height: 50px;
}

.finalWinner {
  display: flex;
  height: 50px;
  flex-direction: column;
  font-size: 24px;
  background: lightpink;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding-bottom: 2px;
}

.gameMode {
  display: flex;
  height: 50px;
  flex-direction: column;
  font-size: 24px;
  /* background: lightpink; */ /* DEV */
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding-bottom: 2px;
}

@keyframes blink {
  0% { opacity: 0 };
  100% { opacity: 1 }
}

.rowsAndColumns {
  display: flex;
  position: relative;
  background: gray;
  width: 150px;
  height: 150px;
  flex-wrap: wrap;
  /* box-shadow: 0 0 0 2px blue inset; */ /* DEV */
  border: 2px solid blue;


}

.crossCircle {
  background: lightcoral;
  display: flex;
  position: relative;
  flex-direction: row;
  width: 600px;
  height: 60px;
}

.cross {
  background: red;
  display: flex;
  position: relative;
  flex-direction: row;
  width: 30px;
  height: 30px;
}

.circle {
  background: blue;
  display: flex;
  position: relative;
  flex-direction: row;
  width: 30px;
  height: 30px;
}

.eachRow {
  background: gray;
  display: flex;
  position: relative;
  flex-direction: row;
  width: 600px;
  height: 60px;
}

.eachBox {
  display: flex;
  position: relative;
  background: red;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 0 2px blue inset;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
}

.scoreTable {
  display: flex;
  position: fixed;
  top: 0px;
  /*                #    T    S    Y    A    S    T    B  = 415px */
  /*                25 + 80 + 60 + 40 + 40 + 60 + 80 + 30 = 415px */
  right: -415px; /* DEFAULT RENDER */
  flex-direction: column;
  background: lightseagreen;
  
  height: 550px; /* 25 * 22 (550 MAX) */
  /* min-height: 550px; */ /* 25 * 22 (550 MAX) */
  max-height: 100vh;
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between;
  /* width: 412px; */
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: auto;
  z-index: 101 /* HIGHER THAN CONFETTI */
  /* z-index: 101 */
}

.scoreTable::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scoreTableNumeral {
  width: 25px;
  height: 25px;
  line-height: 24px;
  text-align: center;
}

.scoreTableNumeralLast {
  width: 25px;
  height: 25px;
  line-height: 24px;
  text-align: center;
}

.scoreTableTime {
  width: 80px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  justify-content: center;
}

.scoreTableTimePNG {
  width: 80px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  justify-content: center;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.symbolTarget1 {
  color: green;
}

.symbolTarget2 {
  color: crimson;
}

.symbolTarget3 {
  color: grey;
  font-size: 22px;
  line-height: 25px;
  height: 25px;
  -webkit-text-stroke: 0.4px black;
}

.scoreTableYouAIPNG {
  width: 40px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.test123 {
  display: flex;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}


[id*="symbolTarget"] {
  font-size: 22px;
  line-height: 25px;
  height: 25px;
  -webkit-text-stroke: 0.4px black;
}

.scoreTableTimeInner {
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 25px;
  line-height: 24px;
  width: 80px;
  flex-direction: row;
  text-align: center;
}

.scoreTableTotal {
  width: 80px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  z-index: 4000;
}

.scoreTableYouAI {
  width: 40px;
  height: 25px;
  line-height: 24px;
  text-align: center;
}

.scoreTableScore {
  width: 60px;
  height: 25px;
  line-height: 24px;
  text-align: center;
}

.scoreTableScorePNG {
  width: 60px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.scoreTableTimeLast {
  width: 80px;
  height: 25px;
  line-height: 24px;
  text-align: center;
}

.scoreTableTitlesContainerUpper {
  /* background: lightseagreen; */ /* DEV */
  display: flex;
  flex-direction: row;
  width: 412px;
  min-width: 412px;
  max-width: 412px;
}

div:nth-child(even of [id*="evenTarget"]) {
  background: rgba(0, 0, 0, .05)
}

.scoreTableTitlesContainerLower {
  /* background: red; */ /* DEV */
  /* bottom: 0px; */
  display: flex;
  /* position: absolute; */
  flex-direction: row;
  width: 412px;
  min-width: 412px;
  max-width: 412px;
  /* z-index: 4000; */
}

.scoreTableEachScore {
  /* background: gray; */ /* DEV */
  height: 25px;
  display: flex;
  position: relative;
  width: 412px;
  min-width: 412px;
  max-width: 412px;
  z-index: 1;
}

[class*="scoreBackgroundLight"] {
  background: #138f88;
  display: flex;
  position: absolute;
  left: 0px;
  width: 412px;
  height: 25px;
}

/* ↓↓ THIS WAY FOR LOW PERFORMANCE MOBILE DEVICES ↓↓ */
.scoreBackgroundLight1 { top: 25px }
.scoreBackgroundLight2 { top: 75px }
.scoreBackgroundLight3 { top: 125px }
.scoreBackgroundLight4 { top: 175px }
.scoreBackgroundLight5 { top: 225px }
.scoreBackgroundLight6 { top: 275px }
.scoreBackgroundLight7 { top: 325px }
.scoreBackgroundLight8 { top: 375px }
.scoreBackgroundLight9 { top: 425px }
.scoreBackgroundLight10 { top: 475px }
.scoreBackgroundLight11 { top: 525px }

#buttonShow {
  top: 39px;
  right: 0px; /* DEFAULT RENDER */
  display: flex;
  position: fixed;
  z-index: 3001;
  min-width: 30px !important;
  width: 30px !important;
  /* min-height: 110px !important;
  height: 110px !important; */
  color: darkblue;
  border-radius: 0px;
  /* background: lightblue; */ /* DEV */
  /* background: violet; */
}

.buttonTypo {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  transform: rotate(270deg);
  height: 30px;
  white-space: nowrap;
  background: violet;
  padding: 0px 8px;
}

#bgAndSliderContainer {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
}

#fxAndSliderContainer {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 5px;
}

#buttonMute {
  display: flex;
  position: relative;
  min-width: 35px !important;
  width: 35px !important;
  min-height: 35px !important;
  height: 35px !important;
  color: darkblue;
  border: 2px solid blue !important;
  background: lightblue;
  box-shadow: -10px 0px 0px 0px lightblue;
  border-radius: 4px 0px 0px 4px;
}

#buttonMuteFX {
  display: flex;
  position: absolute;
  top: 45px;
  left: 5px;
  z-index: 3001;
  min-width: 35px !important;
  width: 35px !important;
  min-height: 35px !important;
  height: 35px !important;
  color: darkblue;
  border: 2px solid blue !important;
}

.sliderBGContainer {
  display: flex;
  position: absolute;
  top: 5px;
  left: -117px;
  width: 190px !important;
  height: 35px;
  background: lightcoral;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 4px 4px 0px;
}

.sliderFXContainer {
  display: flex;
  position: absolute;
  top: 45px;
  left: -117px;
  width: 190px !important;
  height: 35px;
  background: lightcoral;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 4px 4px 0px;
}

.slider {
  display: flex;
  position: relative;
  width: 150px !important;
  margin-left: 20px !important;
  margin-right: 15px !important;
}

#buttonBGSlider {
  display: flex;
  position: relative;
  min-width: 35px !important;
  width: 35px !important;
  min-height: 35px !important;
  height: 35px !important;
  /* background: yellow !important; */ /* DEV */
  color: darkblue;
  border: 2px solid blue !important;
  border-radius: 0px 4px 4px 0px;
}

#buttonFXSlider {
  display: flex;
  position: relative;
  min-width: 35px !important;
  width: 35px !important;
  min-height: 35px !important;
  height: 35px !important;
  /* background: yellow !important; */ /* DEV */
  color: darkblue;
  border: 2px solid blue !important;
  border-radius: 0px 4px 4px 0px;
  padding: 0px !important;
}

.buttonTypo:after {
  content: 'TOTAL SCORE';
}

/* TEST */
.backgroundd {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  animation-name: blinkBG;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  z-index: 50000;
}

#spinner {
	display: flex;
  /* background: red; */
	width: 200px;
  height: 200px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  display: flex;
  position: fixed;
  /* background: rgba(0, 0, 0, 0.5); */
  width: 100px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

@keyframes blinkBG {
  0% { background: rgba(0, 0, 0, 0.3) }
  50% { background: rgba(0, 0, 0, 0.2) }
  100% { background: rgba(0, 0, 0, 0.3) }
}
/* TEST */

/* SMALL DEVICES -> WIDTH MIN THAN 370 (GAME WIDTH) */
@media screen
and (orientation: portrait)
and (max-device-width: 370px),
screen
and (orientation: landscape)
and (max-device-height: 370px) {
  .timer, .rounds {
    width: calc((100% - 110px) / 2);
    justify-content: center;
  }
}

/* SMALL DEVICES -> HEIGHT MIN THAN 700 */
@media screen
and (orientation: portrait)
and (max-device-height: 700px),
screen
and (orientation: landscape)
and (max-device-width: 700px) {
  #buttonShow { top: 2px }
  .buttonTypo:after { content: 'SCORE' }
  #buttonShow { top: 15px }
}

/* SMALL DEVICES -> WIDTH MIN THAN 450 */
@media screen
and (orientation: portrait)
and (max-device-width: 450px),
screen
and (orientation: landscape)
and (max-device-height: 450px) {
  .background { padding-top: 20px; padding-bottom: 30px; }
  .sliderBGContainer { position: fixed }
  #bgAndSliderContainer { position: fixed }
  .sliderFXContainer { position: fixed }
  #fxAndSliderContainer { position: fixed }
}