.background {
  display: flex;
  position: relative;
  background: lightblue; /* DEV */
  /* z-index: 10000; */
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.button {
  margin-bottom: 10px !important;
}

.participants {
  /* margin-left: 70px; */
  display: flex;
  width: 440px;
  height: 200px;
  flex-direction: column;
  font-size: 40px;
  /* box-shadow: 0 0 0 2px blue inset; */
  /* border: 2px solid blue; */
  /* background: gray; */ /* DEV */
  border-top: 2px solid blue;
}

.participant {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background: orange; /* DEV */
  /* box-shadow: 0 0 0 2px blue inset; */
  justify-content: flex-end;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  /* border-bottom: 2px solid blue; */
}

.turn {
  background: lightgreen; /* DEV */
  /* width: 180px; */
  width: 60px;
  color: red;
  font-size: 20px;
  animation: blink 1s linear infinite;
  text-align: end;
}

.participantName {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 80px;
  background: orange; /* DEV */
  /* box-shadow: 0 0 0 2px blue inset; */
  justify-content: center;
}

.pointsTitle {
  width: 440px;
  height: 50px;
  font-size: 32px;
  text-align: center;
  padding-top: 4px;
}

.points {
  /* background: lightgreen; */ /* DEV */
  width: 180px;
  height: 50px;
  /* box-shadow: 0 0 0 2px blue inset; */
}

.innerPoints {
  background: lightgreen; /* DEV */
 /*  width: 180px;
  height: 50px; */
  height: 50px;
  /* box-shadow: 0 0 0 2px blue inset; */
  width: fit-content;
}



.finalWinner {
  display: flex;
  /* width: 250px; */
  height: 50px;
  flex-direction: column;
  font-size: 24px;
  background: lightpink; /* DEV */
  justify-content: center;
  align-items: center;
  font-weight: 500;
  /* margin-left: -70px; */
}




@keyframes blink {
  0% { opacity: 0 };
  100% { opacity: 1 }
}

.rowsAndColumns {
  display: flex;
  background: gray;
  width: 150px;
  height: 150px;
  flex-wrap: wrap;
  /* box-shadow: 0 0 0 2px blue inset; */
  border: 2px solid blue;


}

.crossCircle {
  background: lightcoral; /* DEV */
  display: flex;
  position: relative;
  flex-direction: row;
  width: 600px;
  height: 60px;
}

.cross {
  background: red; /* DEV */
  display: flex;
  position: relative;
  flex-direction: row;
  width: 30px;
  height: 30px;
}

.circle {
  background: blue; /* DEV */
  display: flex;
  position: relative;
  flex-direction: row;
  width: 30px;
  height: 30px;
}



.eachRow {
  background: gray;
  display: flex;
  position: relative;
  flex-direction: row;
  width: 600px;
  height: 60px;
  
}

.eachBox {
  display: flex;
  position: relative;
  background: red; /* DEV */
  width: 50px;
  height: 50px;
  box-shadow: 0 0 0 2px blue inset;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
}

