.backgroundd {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  animation-name: blinkBG;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  z-index: 50000;
}

#spinner {
	display: flex;
  /* background: red; */
	width: 200px;
  height: 200px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  display: flex;
  position: fixed;
  /* background: rgba(0, 0, 0, 0.5); */
  width: 100px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

@keyframes blinkBG {
  0% { background: rgba(0, 0, 0, 0.3) }
  50% { background: rgba(0, 0, 0, 0.2) }
  100% { background: rgba(0, 0, 0, 0.3) }
}