/* html {
  width: 100%;
  height: 100%;
  position: relative;
} */

/* background: #eeeeee */ /* DEFAULT BACKGROUND COLOR */

body {
  display: flex;
  /* background: lightblue; */
  position: absolute;
  /* position: absolute; */
  /* position: relative; */
  margin: 0;
  
  /* max-width: 100vw;
  min-width: 100vw; */
  /* width: 100vw;
  height: 100vh; */
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  overflow-x: hidden;
}

/* #root {
  height: 100%;
  width: 100%;
} */